<%- include('./partials/header') %>
<div class="w-full min-h-screen flex flex-col items-start px-20 py-20 bg-gray-100">
    <div class="w-full flex">
        <div class="w-1/4 flex flex-col items-start bg-white p-6 rounded-lg shadow-lg">
            <div class="flex items-center gap-2 mb-6">
                <h3 class="text-lg font-semibold">Sort by</h3>
                <form action="/shop">
                    <select class="border border-gray-300 px-2 py-1 rounded-lg" name="sortby" id="">
                        <option value="popular">Popular</option>
                        <option value="newest">Newest</option>
                    </select>
                </form>
            </div>
            <div class="flex flex-col mb-12">
                <a class="block mb-2 text-blue-600 hover:underline" href="">New Collection</a>
                <a class="block mb-2 text-blue-600 hover:underline" href="">All Products</a>
                <a class="block mb-2 text-blue-600 hover:underline" href="">Discounted Products</a>
            </div>
            <div class="flex flex-col">
                <a class="block mb-2 text-blue-600 hover:underline" href="">Filter by :</a>
                <a class="block mb-2 text-blue-600 hover:underline" href="">Availability</a>
                <a class="block mb-2 text-blue-600 hover:underline" href="">Discount</a>
            </div>
        </div>
        <div class="w-3/4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 ml-6">
            <% products.forEach(function(product){ %>
                <div class="flex flex-col bg-white shadow-lg rounded-lg overflow-hidden">
                    <div class="flex-1 flex items-center justify-center bg-[<%= product.bgColor %>] h-52 p-4">
                        <img class="h-[12rem] object-contain" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="<%= product.name %>">
                    </div>
                    <div class="flex justify-between bg-[<%= product.panelColor %>] items-center px-4 py-4 text-[<%= product.textColor %>]">
                        <div>
                            <h3 class="text-lg font-semibold"><%= product.name %></h3>
                            <h4 class="text-md">₹ <%= product.price %></h4>
                        </div>
                        <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white text-black hover:bg-gray-200" href="">
                            <i class="ri-add-line"></i>
                        </a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>
