<%- include('./partials/header') %>
    <link rel="stylesheet" href="/styles/shop-style.css">

    <div class="container">
        <div class="sidebar">
            <h3>Sort by</h3>
            <form action="/shop">
                <select name="sortby" id="">
                    <option value="popular">Popular</option>
                    <option value="newest">Newest</option>
                </select>
            </form>
            <h3>Categories</h3>
            <a href="">New Collection</a>
            <a href="">All Products</a>
            <a href="">Discounted Products</a>
            <h3>Filter by</h3>
            <a href="">Availability</a>
            <a href="">Discount</a>
        </div>
        <div class="products-container">
            <% products.forEach(function(product){ %>
                <div class="product-card">
                    <div class="product-image bg-[<%= product.bgcolor %>]">
                        <img src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                            alt="<%= product.name %>">
                    </div>
                    <div class="product-info  bg-[<%= product.panelColor %>] text-[<%= product.textcolor %>]">
                        <h3>
                            <%= product.name %>
                        </h3>
                        <h4>₹ <%= product.price %>
                        </h4>
                    </div>
                    <div class="add-to-cart">
                        <a href="#"><i class="ri-add-line"></i></a>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <%- include('./partials/footer') %>